{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block shepherd %}
    <li class="nav-item border-end px-1">
        <a class="nav-link" id="shepherdTrigger" data-page="{{ app.request.attributes.get('_route') }}" href="javascript:void(0);"><i class="fa-regular fa-circle-question"></i></a>
    </li>
{% endblock %}

{% block body %}
    <div class="p-3 mb-4 bg-white rounded-3 border">
        <div class="container-fluid py-3">
            <h1 class="fw-bold">{{ 'home.introduction.title'|trans }}</h1>
            <p>{{ 'home.introduction.content'|trans|raw }}</p>
            <a href="{{ path('association_pre_new') }}" class="btn btn-success text-white mb-3" id="addAssociation">
                <i class="fa fa-plus"></i>&nbsp;{{ 'home.associations.add.title'|trans }}
            </a>
        </div>
    </div>

    <div id="agendaContainer">
        <div class="d-flex justify-content-between">
            <h2 class="mb-4">
                {{ 'home.agenda_days'|trans({'%days%': agendaNbDays}) }}
            </h2>

            {% include 'event/_selector.html.twig' %}
        </div>

        <div class="mb-5" id="">
            {% if events is not empty %}
                {% include 'event/_mosaic.html.twig' with {events: events} %}
                {% include 'event/_list.html.twig' with {events: events} %}
                {% include 'event/_calendar.html.twig' with {events: events} %}
            {% else %}
                <div class="alert alert-info">{{ 'home.events.none'|trans({'%days%': agendaNbDays}) }}</div>
            {% endif %}
        </div>
    </div>

    <div id="listAssociations">
        <div class="d-flex justify-content-between">
            <h2 class="mb-0">{{ 'home.associations.title'|trans }}</h2>

            <form method="GET" action="{{ path('search') }}" id="searchBar">
                <div class="input-group">
                    <div class="dropdown input-group-text p-0">
                        <button class="btn btn-default dropdown-toggle rounded-end-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-default="Catégorie">
                            {{ 'home.associations.list.filter.category'|trans }}
                        </button>
                        <ul class="dropdown-menu p-0">
                            <li class="px-2 py-1 hoverable category-filter-list" role="button" data-category="all">
                                {{ 'home.associations.list.filter.category'|trans }}
                            </li>
                            {% for category in categories %}
                                <li class="px-2 py-1 hoverable category-filter-list" role="button" data-category="{{ category.value }}">
                                    <i class="{{ category.icon }} text-{{ category.badge }}"></i>&nbsp;{{ ('association.category.' ~ category.value)|trans }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input class="form-control" type="search" placeholder="{{ 'home.associations.list.filter.text.placeholder'|trans }}" aria-label="{{ 'home.associations.list.filter.text.title'|trans }}" name="search" autocomplete="off">
                    <button class="input-group-text btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>

        <div id="associationsList">
            {% include 'association/_list.html.twig' with {'associations': associations} %}
        </div>

        <a href="{{ path('association_pre_new') }}" class="btn btn-success text-white mb-3">
            <i class="fa fa-plus"></i>&nbsp;{{ 'home.associations.add.title'|trans }}
        </a>
    </div>
{% endblock %}
