{% extends 'base.html.twig' %}

{% block title %}{{ 'association.add.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'association.add.title'|trans }}</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.content, {'attr': {'class': 'form-control wysiwyg page-template'}}) }}
        </div>

        <button class="btn btn-success">
            <i class="fa fa-save"></i>&nbsp;{{ 'association.add.save'|trans }}
        </button>
    {{ form_end(form) }}

    <hr>

    <a href="{{ path('homepage') }}" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>&nbsp;{{ 'association.add.cancel'|trans }}
    </a>
{% endblock %}
