{% extends 'base.html.twig' %}

{% block title %}{{ 'association.add.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'association.add.title'|trans }}</h1>

    {{ form_start(form) }}
        {% include 'association/form.html.twig' with {formAssociation: form} %}

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success text-white mt-3">
                <i class="fa fa-save"></i>&nbsp;{{ 'association.edit.save'|trans }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
