{% extends 'base.html.twig' %}

{% block title %}{{ association.name }}{% endblock %}

{% block body %}
    {% if association.wip %}
        <div class="alert alert-info">
            {{ 'association.show.wip'|trans|raw }}
        </div>
    {% endif %}

    <div class="text-center mb-3">
        {% if app.user|default and not app.user.membership(association) %}
            <a class="my-1 btn btn-info text-white" href="{{ path('user_ask_membership', { association: association.slug }) }}">
                <i class="fa fa-id-card"></i>&nbsp;{{ 'association.show.actions.become_member.title'|trans }}
            </a>
        {% endif %}
        {% if is_granted('edit', association) %}
            <a href="{{ path('association_edit', { slug: association.slug }) }}" class="my-1 btn btn-primary">
                <i class="fa fa-edit"></i>&nbsp;{{ 'association.show.actions.edit'|trans }}
            </a>
        {% endif %}
        {% if is_granted('delete', association) %}
            <a href="{{ path('association_delete', { slug: association.slug }) }}" class="confirm-action my-1 btn btn-danger text-white" title="{{ 'association.show.actions.delete.title'|trans }}" data-confirm="{{ 'association.show.actions.delete.confirm'|trans({'element': association.name}) }}">
                <i class="fa fa-trash"></i>&nbsp;{{ 'association.show.actions.delete.title'|trans }}
            </a>
        {% endif %}
        {% if app.user|default %}
            {% if app.user.isSubscribedTo(association) %}
                <button type="button" class="my-1 btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#unsubscriptionModal">
                    <i class="fa fa-bell-slash"></i>&nbsp;{{ 'association.show.actions.unsubscribe.title'|trans }}
                </button>
            {% else %}
                <button type="button" class="my-1 btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#subscriptionModal">
                    <i class="fa fa-bell"></i>&nbsp;{{ 'association.show.actions.subscribe.title'|trans }}
                </button>
            {% endif %}
        {% endif %}
    </div>

    <div class="mb-3">
        <h1>{{ association.name }}</h1>
    </div>

    {% if app.user|default and app.user.isSubscribedTo(association) %}
        <div class="modal fade" id="unsubscriptionModal" tabindex="-1" aria-labelledby="unsubscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="unsubscriptionModalLabel">{{ 'association.show.actions.unsubscribe.modal.title'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'association.show.actions.unsubscribe.modal.body'|trans({'%association%': association.name}) }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'association.show.actions.unsubscribe.modal.actions.cancel'|trans }}</button>
                        <a class="btn btn-info text-white" href="{{ path('association_subscribe', { slug: association.slug }) }}">
                            {{ 'association.show.actions.unsubscribe.modal.actions.confirm'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="subscriptionModalLabel">{{ 'association.show.actions.subscribe.modal.title'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'association.show.actions.subscribe.modal.body'|trans({'%association%': association.name}) }}</p>
                        <p><small>{{ 'user_subscriptions.intro'|trans|raw }}</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'association.show.actions.subscribe.modal.actions.cancel'|trans }}</button>
                        <a class="btn btn-warning text-white" href="{{ path('association_subscribe', { slug: association.slug }) }}">
                            {{ 'association.show.actions.subscribe.modal.actions.confirm'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="mb-3">
        {% for category in association.categories %}
            <span class="badge bg-{{ category.badge }}">{{ ('association.category.' ~ category.value)|trans }}</span>
        {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center mb-3">
                            {% if association.logoFilename|default %}
                                <img src="/uploads/{{ association.logoFilename }}" alt="{{ association.name }}" class="img-fluid img-thumbnail">
                            {% endif %}
                        </div>

                        <div class="col-md-{% if association.logoFilename|default %}9{% else%}12{% endif%} row d-flex">
                            <div class="col-12">
                                <h2>Nous contacter</h2>

                                {% if association.hasAnyContactDetail|default %}
                                    <ul class="list-unstyled">
                                        {% if association.contacts.count > 0 %}
                                            {% for contact in association.contacts %}
                                                <li>{{ contact.name }}{% if contact.function|default%} - {{ contact.function }}{% endif %}</li>
                                            {% endfor %}
                                        {% endif %}
                                        {% if association.contactAddress|default %}
                                            <li>{{ association.contactAddress }}</li>
                                        {% endif %}
                                        {% if association.contactEmail|default %}
                                            <li>{{ association.contactEmail }}</li>
                                        {% endif %}
                                        {% if association.contactPhone|default %}
                                            <li>{{ association.contactPhone }}</li>
                                        {% endif %}
                                    </ul>
                                {% else %}
                                    <p class="fst-italic">Aucune information de contact n'a été fournie.</p>
                                {% endif %}
                            </div>

                            <div class="col-12">
                                <h2>Nos réseaux</h2>

                                {% if association.hasAnyNetwork|default %}
                                    <ul class="list-unstyled">
                                        {% if association.networkWebsite|default %}
                                            {% set web = web_link(association.networkWebsite) %}
                                            <li>
                                                <a href="{{ web.href }}" class="text-decoration-none" target="_blank">
                                                    <i class="fa fa-globe fs-5"></i>&nbsp;{{ web.label }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if association.networkFacebook|default %}
                                            {% set fb = facebook_link(association.networkFacebook) %}
                                            <li>
                                                <a href="{{ fb.href }}" class="text-decoration-none" target="_blank">
                                                    <i class="fa-brands fa-facebook fs-5"></i>&nbsp;{{ fb.label }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if association.networkInstagram|default %}
                                            {% set ig = instagram_link(association.networkInstagram) %}
                                            <li>
                                                <a href="{{ ig.href }}" class="text-decoration-none" target="_blank">
                                                    <i class="fa-brands fa-instagram fs-5"></i>&nbsp;{{ ig.label }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if association.networkOther|default %}
                                            <li>
                                                <a href="{{ association.networkOther }}" class="text-decoration-none" target="_blank">
                                                    {{ association.networkOther }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% else %}
                                    <p class="fst-italic">Aucun réseau n'a été fourni.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-body {% if association.futureEvents|default|length > 3 %}scroll-wrapper{% endif%} p-0">
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <h2 class="h4">
                            {{ 'association.show.events.future.title'|trans }}
                        </h2>

                        {% if is_granted('new_event', association) %}
                            <a href="{{ path('event_new', { slug: association.slug }) }}" class="btn btn-link text-decoration-none text-end">
                                <i class="fa fa-calendar-plus"></i>&nbsp;{{ 'association.show.actions.event.new'|trans }}
                            </a>
                        {% endif %}
                    </div>

                    {% if association.futureEvents|default|length > 0 %}
                        <ul class="list-group list-group-flush list-future-events">
                            {% for event in association.futureEvents %}
                                <li class="list-group-item d-flex justify-content-between {% if loop.last %}rounded-top-0 rounded-1{% else %}rounded-0{% endif %}">
                                    <a href="{{ path('event_show', {'slug': event.slug}) }}" class="text-black text-decoration-none">
                                        <strong>{{ event.title }}</strong><br>
                                        <small class="fst-italic">
                                            {{ format_date(event.startAt) }}{% if event.isPublic %} - {{ 'event.show.is_public'|trans }}{% endif %}{% if event.location|default %} - {{ event.location }}{% endif %}
                                        </small>
                                        <p class="mb-0">{{ event.shortDescription|raw }}</p>
                                    </a>

                                    <div class="dropdown dropstart">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if is_granted('edit_event', event) %}
                                                <li>
                                                    <a href="{{ path('event_edit', {id: event.id}) }}" class="btn btn-link text-primary text-decoration-none text-start">
                                                        <i class="fa fa-edit"></i>&nbsp;{{ 'association.show.actions.event.edit'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if is_granted('edit_event', event) %}
                                                <li>
                                                    <a href="{{ path('event_duplicate', {id: event.id}) }}" class="btn btn-link text-secondary text-decoration-none text-start">
                                                        <i class="fa fa-clone"></i>&nbsp;{{ 'association.show.actions.event.duplicate'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if is_granted('delete_event', event) %}
                                                <li>
                                                    <a href="{{ path('event_delete', {id: event.id}) }}" class="btn btn-link text-danger text-decoration-none text-start" onclick="return confirm('{{ 'association.show.actions.event.delete.confirm'|trans({'element': event.title}) }}')">
                                                        <i class="fa fa-trash"></i>&nbsp;{{ 'association.show.actions.event.delete.title'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('event_show', {slug: event.slug}) }}" class="btn btn-link text-info text-decoration-none text-start">
                                                    <i class="fa fa-eye"></i>&nbsp;{{ 'association.show.actions.event.show'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted px-3">{{ 'association.show.events.future.no_events'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if association.content|default %}
        <div class="card mt-4">
            <div class="card-body">
                {{ association.content|raw }}
            </div>
        </div>
    {% endif %}

    {% if association.pastEvents|default|length > 0 %}
        <details class="mt-2">
            <summary>{{ 'association.show.events.past.title'|trans }} ({{ association.pastEvents|length }})</summary>
            <ul class="list-group mt-2">
                {% for event in association.pastEvents %}
                    <li class="list-group-item background-default d-flex justify-content-between">
                        <div>
                            <strong>{{ event.title }}</strong><br>
                            <small>
                                {{ format_date(event.startAt) }}
                            </small>
                            <p class="mb-0">{{ event.shortDescription|raw }}</p>
                        </div>
                        <div>
                            {% if is_granted('edit_event', event) %}
                                <a href="{{ path('event_duplicate', {id: event.id}) }}" class="btn btn-secondary" title="{{ 'association.show.actions.duplicate'|trans }}">
                                    <i class="fa fa-clone"></i>
                                </a>
                            {% endif %}
                            <a href="{{ path('event_show', {slug: event.slug}) }}" class="btn btn-info text-white" title="{{ 'association.show.actions.show'|trans }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}

    <hr>

    <div class="d-flex flex-column align-items-center ">
        <p class="mt-3 mb-1 text-center fst-italic">
            {{ 'association.show.creation'|trans({
                createdAt: format_date(association.createdAt)|lower,
                updatedAt: format_date(association.updatedAt)|lower,
            }) }}
        </p>

        {% if association.revisions|default|length > 0 %}
            <div class="dropup m-0 p-0">
                <button class="btn btn-link dropdown-toggle p-0" type="button" id="dropdownRevisions" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'revision.title'|trans }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownRevisions">
                    {% for revision in association.revisions|reverse|slice(0, 5) %}
                        <li>
                            <a class="dropdown-item revision-preview" href="javascript:void(0);" data-href="{{ path('association_rollback_preview', {slug: association.slug, revisionId: revision.id}) }}">
                                {% if revision.createdBy|default %}
                                    {{ 'revision.created_at_by'|trans({
                                        'createdAt': revision.createdAt|date('Y-m-d \\à H:i:s'),
                                        'createdBy': revision.createdBy
                                    }) }}
                                {% else %}
                                    {{ 'revision.created_at'|trans({
                                        'createdAt': revision.createdAt|date('Y-m-d \\à H:i:s')
                                    }) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% include 'association/_revisions-preview.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
