<div class="row" data-events="mosaic">
    {% for event in events %}
        <div class="col-md-12 col-lg-6 mb-2">
            <div class="card h-100">
                <div class="card-body row">
                    <div class="col-sm-12 col-md-8 d-flex flex-column justify-content-lg-between">
                        <h5>
                            <a href="{{ path('event_show', {id: event.id}) }}">{{ event.title }}</a>
                            <br>
                            <small>{{ format_date(event.startAt, event.endAt) }}</small>
                        </h5>
                        <p class="mb-1">{{ event.shortDescription|raw }}</p>
                        <small>
                            Par <a href="{{ path('association_show', {slug: event.association.slug}) }}">{{ event.association.name }}</a>
                        </small>
                    </div>

                    <div class="d-sm-none d-md-block col-md-4 mx-auto">
                        <img src="{{ asset('/uploads/' ~ event.association.logoFilename) }}" alt="{{ event.title }}" style="max-width:100%;max-height:100%;" class="img-fluid">

                        {% if is_granted('ASSOCIATION_EDIT', event.association) %}
                            <a href="{{ path('event_edit', {id: event.id}) }}" class="btn btn-primary position-absolute" title="{{ 'association.show.actions.edit'|trans }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
