{% extends 'base.html.twig' %}

{% block title %}{{ 'event.add.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'event.add.title'|trans }}</h1>

    {{ form_start(form) }}
        {% include 'event/_form.html.twig' %}x

        <button class="btn btn-success text-white">
            <i class="fa fa-save"></i>
            {{ 'event.add.form.submit'|trans }}
        </button>
    {{ form_end(form) }}

    <hr>
    <a href="{{ path('association_show', { slug: event.association.slug }) }}" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>&nbsp;{{ 'event.add.form.back'|trans }}
    </a>
{% endblock %}
