{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'forgot_password.title'|trans }}</h1>

    {{ form_start(forgotPasswordForm) }}
        <div class="mb-3">
            {{ form_label(forgotPasswordForm.email) }}
            {{ form_widget(forgotPasswordForm.email, {'attr': {'class':'form-control'}}) }}
            {{ form_errors(forgotPasswordForm.email) }}
        </div>

        <button type="submit" class="btn btn-success text-white">{{ 'forgot_password.send'|trans }}</button>
    {{ form_end(forgotPasswordForm) }}
{% endblock %}
