{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'reset_password.title'|trans }}</h1>

    {{ form_start(resetPasswordForm) }}

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                    {{ form_label(resetPasswordForm.plainPassword.first) }}
                    {{ form_widget(resetPasswordForm.plainPassword.first, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(resetPasswordForm.plainPassword.first) }}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                    {{ form_label(resetPasswordForm.plainPassword.second) }}
                    {{ form_widget(resetPasswordForm.plainPassword.second, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(resetPasswordForm.plainPassword.second) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{ 'reset_password.submit'|trans }}</button>
    {{ form_end(resetPasswordForm) }}
{% endblock %}
