{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur {{ user.email }}{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur {{ user.email }}</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.roles) }}
        </div>

        <button class="btn btn-primary mt-2">Enregistrer les modifications</button>
        <a href="{{ path('admin_index') }}" class="btn btn-secondary mt-2">Annuler</a>
    {{ form_end(form) }}

{% endblock %}
