<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | {{ 'wiki_plab'|trans }}</title>

        {% block stylesheets %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100" data-route="{{ app.request.attributes.all()['_route'] }}">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ 'wiki_plab'|trans }}" height="50" class="d-inline-block align-text-top">
                    <span class="ps-3 pt-3 align-middle">{{ 'wiki_plab'|trans }}</span>
                </a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.email }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-user me-2"></i>{{ 'nav.user.account'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-bell me-2"></i>{{ 'nav.user.subscriptions'|trans }}
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('moderator_index') }}">
                                                <i class="fa fa-shield-halved me-2"></i>{{ 'nav.user.moderation'|trans }}
                                            </a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin_index') }}">
                                                    <i class="fa fa-lock me-2"></i>{{ 'nav.user.admin'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                                            <i class="fa fa-arrow-right-from-bracket me-2"></i>{{ 'nav.user.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">{{ 'nav.login'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">{{ 'nav.register'|trans }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.request.locale|upper }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'br'})) }}">
                                        <img class="me-2" src="{{ asset('build/images/br.png') }}" alt="{{ 'nav.lang.breton'|trans }}">{{ 'nav.lang.breton'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                        <img class="me-2" src="{{ asset('build/images/fr.png') }}" alt="{{ 'nav.lang.french'|trans }}">{{ 'nav.lang.french'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                {% if is_granted('IS_IMPERSONATOR') %}
                    <div class="position-fixed top-0 start-50 translate-middle-x mt-2" style="z-index: 1050;">
                        <a href="{{ path('admin_index', {'_switch_user': '_exit'}) }}"
                           class="btn btn-danger shadow">
                            Redevenir administrateur
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>

        <div class="container my-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <div class="modal" id="revision-preview-modal" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Prévisualisation d'une révision</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ne rien faire</button>
                        <button type="button" class="btn btn-primary">Appliquer cette révision</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer mt-auto bg-white border">
            <div class="container text-center p-3">
                © {{ 'now'|date('Y') }} | Copyright
                <a class="text-body" href="https://www.plabennecentransition.fr/">Plabennec en Transition</a>

                <a class="mx-2 text-body" href="https://www.facebook.com/people/Plabennec-en-Transition/61566179664596/" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="mx-2 text-body" href="https://www.instagram.com/plabennecentransition/" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://cdn.ckeditor.com/4.22.1/full-all/ckeditor.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <button type="button" class="btn btn-success btn-floating btn-lg" id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </body>
</html>
