<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | {{ 'wiki_plab.long'|trans }}</title>

        {% block stylesheets %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100" data-route="{{ app.request.attributes.all()['_route'] }}">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ 'wiki_plab.long'|trans }}" height="50" class="d-inline-block align-text-top">
                    <span class="ps-3 pt-3 align-middle d-none d-md-inline-block">{{ 'wiki_plab.long'|trans }}</span>
                    <span class="ps-3 pt-3 align-middle d-sm-inline-block d-md-none">{{ 'wiki_plab.short'|trans }}</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerMenu">
                    <ul class="navbar-nav ms-auto">
                        {% block shepherd %}{% endblock %}

                        <li class="nav-item border-end px-1">
                            <a class="nav-link" href="{{ path('publishing_charter') }}">{{ 'charter.title'|trans }}</a>
                        </li>

                        {% if app.user %}
                            <li class="nav-item shepherd-user-login dropdown border-end px-1">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ app.user.email }}">
                                    {{ app.user.username }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user_account') }}">
                                            <i class="fa fa-user me-2"></i>{{ 'nav.user.account'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user_subscriptions') }}">
                                            <i class="fa fa-bell me-2"></i>{{ 'nav.user.subscriptions'|trans }}
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('moderator_index') }}">
                                                <i class="fa fa-shield-halved me-2"></i>{{ 'nav.user.moderation'|trans }}
                                            </a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin_index') }}">
                                                    <i class="fa fa-lock me-2"></i>{{ 'nav.user.admin'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') or app.user.chairedAssociations|default|length > 0 %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('chairman_index') }}">
                                                <i class="fa fa-clipboard-list me-2"></i>{{ 'nav.user.chairman'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                                            <i class="fa fa-arrow-right-from-bracket me-2"></i>{{ 'nav.user.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item shepherd-user-login border-end px-1">
                                <a class="nav-link" href="{{ path('app_login') }}">{{ 'nav.login'|trans }}</a>
                            </li>
                            <li class="nav-item shepherd-user-register border-end px-1">
                                <a class="nav-link" href="{{ path('app_register') }}">{{ 'nav.register'|trans }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown px-1">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.request.locale|upper }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|merge({'_locale': 'br'})) }}">
                                        <img class="me-2" src="{{ asset('build/images/br.png') }}" alt="{{ 'nav.lang.breton'|trans }}">{{ 'nav.lang.breton'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all())|merge({'_locale': 'fr'})) }}">
                                        <img class="me-2" src="{{ asset('build/images/fr.png') }}" alt="{{ 'nav.lang.french'|trans }}">{{ 'nav.lang.french'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                {% if is_granted('IS_IMPERSONATOR') %}
                    <div class="position-fixed top-0 start-50 translate-middle-x mt-2" style="z-index: 1050;">
                        <a href="{{ path('admin_index', {'_switch_user': '_exit'}) }}"
                           class="btn btn-danger shadow">
                            Redevenir administrateur
                        </a>
                    </div>
                {% endif %}
            </div>
        </nav>

        <div class="container my-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <footer class="footer mt-auto bg-white border">
            <div class="container text-center p-3">
                © {{ 'now'|date('Y') }} | Copyright
                <a class="text-body" href="https://www.plabennecentransition.fr/" target="_blank">Plabennec en Transition</a>
                |
                <a class="ms-1 me-2 text-body text-decoration-none" href="https://www.facebook.com/people/Plabennec-en-Transition/61566179664596/" role="button" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="mx-2 text-body text-decoration-none" href="https://www.instagram.com/plabennecentransition/" role="button" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="ms-2 me-1 text-body text-decoration-none" href="https://github.com/AlexiZ/portail-asso" role="button" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                |
                <a href="mailto:contact@plabennecentransition.fr" class="text-body">
                    Nous contacter
                </a>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://cdn.ckeditor.com/4.22.1/full-all/ckeditor.js"></script>

            {{ encore_entry_script_tags('app') }}

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const wysiwygs = document.querySelectorAll('textarea.wysiwyg');
                    if (wysiwygs) {
                        const appCssFiles = {{ encore_entry_css_files('app')|json_encode|raw }};
                        wysiwygs.forEach((el) => {
                            CKEDITOR.plugins.loaded['version'] = null;
                            CKEDITOR.replace(el, {
                                fullPage: false,
                                versionCheck: false,
                                allowedContent: true,
                                removePlugins: 'elementspath',
                                extraPlugins: 'colorbutton,colordialog,justify',
                                language: 'fr',
                                height: el.dataset.height || 300,
                                contentsCss: appCssFiles,
                                toolbar: [
                                    {name: 'styles', items: ['Format']},
                                    {name: 'clipboard', items: ['Undo', 'Redo']},
                                    {name: 'basicstyles', items: ['Bold', 'Italic', 'Underline']},
                                    {name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent']},
                                    {name: 'alignment', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']},
                                    {name: 'links', items: ['Link', 'Unlink']},
                                    {name: 'insert', items: ['Table']},
                                    {name: 'colors', items: ['TextColor', 'BGColor']},
                                    {name: 'tools', items: ['Maximize', 'Source']}
                                ]
                            });
                        });
                    }
                });
            </script>
        {% endblock %}

        <button type="button" class="btn btn-success btn-floating btn-lg text-white" id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </body>
</html>
