<p>
    {{ 'email.welcome'|trans({'%username%': username}) }},
</p>
<br>
<p>
    {{ 'email.forgot_password.content.link_label'|trans }} :
</p>
<p>
    <a href="{{ resetUrl }}" target="_blank" rel="noopener">
        {{ 'email.forgot_password.content.link_cta'|trans }}
    </a>
</p>
<br>
<p>
    {{ 'email.goodbye'|trans|raw }}
</p>
